.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml
*.apk
*.aab
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
.DS_Store
